.Table {
      width: 100%;
      margin-top: 15px;
}
.headerColumn {
      text-transform: none;
}
.headerRow,
.oddRow {
      border: 1px solid blue;
}
.evenRow {
      border: 1px solid red;
      background-color: yellow;
}
.oddRow {
      background-color: #fafafa;
}
.headerColumn {
      text-transform: none;
}
.exampleColumn {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}
.ReactVirtualized__Table__Grid:focus {
      outline: none;
}
